extends ../layout-shop
block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top
      .container-fluid
         .section
           .carousel-shop
              div#demo.carousel.slide(data-ride="carousel")

                //- Indicators
                ul.carousel-indicators
                  li(data-target="#demo" data-slide-to="0" class="active")
                  li(data-target="#demo" data-slide-to="1")
                  li(data-target="#demo" data-slide-to="2")
                div.carousel-inner
                  div(class="carousel-item active")
                    img(src="/img/hannan-chandaria.png" style="width: 100%" alt="Los Angeles")
                  div(class="carousel-item")
                    img(src="/img/velvex-chandaria.png" style="width: 100%"  alt="Chicago")
                  div(class="carousel-item")
                    img(src="/img/velvex-chan.png" style="width: 100%" alt="New York")


                .carousel-control-prev(href="#demo" data-slide="prev")
                   span(class="carousel-control-prev-icon")
                .carousel-control-next(href="#demo" data-slide="next")
                   span(class="carousel-control-next-icon")
          .section.deal-of-the-day      
              
        
      
    script(type="text/javascript").
      $(document).ready(function () {
        $("#owl-demo").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds
            dots: true,
            items: 3,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]
        });
        });