extends ../layout-shop
block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top
      .container-fluid
         .section
           .carousel-shop
              div#demo.carousel.slide(data-ride="carousel")

                //- Indicators
                ul.carousel-indicators
                  li(data-target="#demo" data-slide-to="0" class="active")
                  li(data-target="#demo" data-slide-to="1")
                  li(data-target="#demo" data-slide-to="2")
                div.carousel-inner
                  div(class="carousel-item active")
                    img(src="/img/hannan-chandaria.png" style="width: 100%" alt="Los Angeles")
                  div(class="carousel-item")
                    img(src="/img/velvex-chandaria.png" style="width: 100%"  alt="Chicago")
                  div(class="carousel-item")
                    img(src="/img/velvex-chan.png" style="width: 100%" alt="New York")


                .carousel-control-prev(href="#demo" data-slide="prev")
                   span(class="carousel-control-prev-icon")
                .carousel-control-next(href="#demo" data-slide="next")
                   span(class="carousel-control-next-icon")
         .section.deal-of-the-day  
           .row
             .col-md-3
                .card.shopping-card-margin
                   .card-title.shop-card-title
                      h4.agile-title.h-order-category.text-center
                        | Best Sellers
                      img.card-img-top(src="/img/blueband.jpg" alt="Card image" style="width:100%")
                   .card-body
                     .card-text
                        small
                          a(href="#")
                            | Shop Now
                
             .col-md-3
                .card.shopping-card-margin
                   .card-title.shop-card-title
                      h4.agile-title.h-order-category.text-center
                        | Deals of the Day
                      img.card-img-top(src="/img/airfreshener.png" alt="Card image" style="width:100%")
                   .card-body
                     .card-text
                        .price-old  KES 219
                         span
                          |  KES 198
                       
                        small
                          a(href="#")
                            | See More deals
                
             .col-md-3
                .card.shopping-card-margin
                   .card-title.shop-card-title
                      h4.agile-title.h-order-category
                        | Featured Products
                      img.card-img-top(src="/img/royco.png" alt="Card image" style="width:100%")
                   .card-body
                     .card-text
                       small
                        a(href="#")
                          | Shop Here
               
             .col-md-3
               .card.shopping-card-margin
                   .card-title.shop-card-title
                      h4.agile-title.h-order-category.text-center
                        | New Arrivals
                      img.card-img-top(src="/img/royco.png" alt="Card image" style="width:100%")
                   .card-body
                     .card-text
         
         .section.sponsored-deal
            div.row
              div.col-6
                div.row
                  div.col-6
                    .card(style="border:none !important")
                       img(class="card-img-top img-fluid" src="/img/rings.jpeg" alt="Card image cap")
                  div.col-6
                    .card(style="border:none !important")
                      .card-block(style="padding:1rem")
                          h4(class="card-title")
                            | title
                          p(class="card-text")
                            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          p(class="card-text")
                            small.text-muted
                              | Last updated 3 mins ago
                          
              div.col-6
                div.row
                  div.col-6
                    .card(style="border:none !important")
                       img(class="card-img-top img-fluid" src="/img/rings.jpeg" alt="Card image cap")
                  div.col-6
                    .card(style="border:none !important")
                      .card-block(style="padding:1rem")
                          h4(class="card-title")
                            | Title
                          p(class="card-text")
                            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          p(class="card-text")
                            small.text-muted
                              | Last updated 3 mins ago
           
         .section.shop-now
            .row
             .col-md-3
                .card
                    img.card-img-top(src="/img/blueband.jpg" alt="Card image" style="width:100%")
                    .card-body
                      .card-title.shop-card-title
                      h4.agile-title.h-order-category.text-center
                        | Best Sellers
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
                
             .col-md-3
                .card
                    img.card-img-top(src="/img/airfreshener.png" alt="Card image" style="width:100%")
                    .card-body
                      .card-title.shop-card-title
                        h4.agile-title.h-order-category.text-center
                          | Deals of the Day
                      .card-text
                        .price-old  KES 219
                         span
                          |  KES 198
                       
                        small
                          a(href="#")
                            | See More 
                
             .col-md-3
                .card
                    img.card-img-top(src="/img/royco.png" alt="Card image" style="width:100%")
                    .card-body
                      .card-title.shop-card-title
                        h4.agile-title.h-order-category
                          | Featured Products
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
               
             .col-md-3
               .card
                  img.card-img-top(src="/img/royco.png" alt="Card image" style="width:100%")
                  .card-body
                    .card-title.shop-card-title
                      h4.agile-title.h-order-category.text-center
                        | New Arrivals
                    .card-text
                        small
                          a(href="#")
                            | Shop Now
         
           
         .section.general-best-sellers
            h4.agile-title.h-order-category.text-center
              | Best Sellers Today
              span 
                a(href="#")
                  | see all deals
            div(class="carousel slide" data-ride="carousel")
              div(class="carousel-inner")
                  div(class="carousel-item active")
                      div.row
                        div.col
                          img.w-100.product-img-home(src="/img/exe.jpeg" alt="1 slide")
                        div.col
                          img.w-100.product-img-home(src="/img/rice.jpeg" alt="2 slide")
                        div.col
                          img.w-100.product-img-home(src="/img/earrings.jpeg" alt="3 slide")
                      
                        div.col
                            img.w-100.product-img-home(src="/img/beer.jpeg" alt="4 slide")
                        div.col
                            img.w-100.product-img-home(src="/img/pillows.jpeg" alt="5 slide")
                        div.col
                            img.w-100.product-img-home(src="/img/mats.jpeg" alt="6 slide")
         

    script(type="text/javascript").
      $('#carouselExample').carousel({ 
                interval: 9000
        });

    // script to show quick look on mouseover
    script(type='text/javascript').
        $(document).ready(function () {
        $('.img-wrap').hover(function () {
            $(this).find('span').show();
        }, function () {
            $(this).find('span').hide();
        });
        });