extends ../layout-shop
block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top
      .container-fluid.shopping-background
         .section
           .carousel-shop
              div#demo.carousel.slide(data-ride="carousel")

                //- Indicators
                ul.carousel-indicators
                  li(data-target="#demo" data-slide-to="0" class="active")
                  li(data-target="#demo" data-slide-to="1")
                  li(data-target="#demo" data-slide-to="2")
                div.carousel-inner
                  div(class="carousel-item active")
                    img(src="/img/hannan-chandaria.png" style="width: 100%" alt="Los Angeles")
                  div(class="carousel-item")
                    img(src="/img/velvex-chandaria.png" style="width: 100%"  alt="Chicago")
                  div(class="carousel-item")
                    img(src="/img/velvex-chan.png" style="width: 100%" alt="New York")


                .carousel-control-prev(href="#demo" data-slide="prev")
                   span(class="carousel-control-prev-icon")
                .carousel-control-next(href="#demo" data-slide="next")
                   span(class="carousel-control-next-icon")
         .section.deal-of-the-day  
           .row
             .col-md-3.py-2
                .card.h-100.shopping-card-margin
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category.text-center
                        | Best Sellers
                      img.card-img-top.shopping-home-img(src="/img/blueband.jpg" alt="Card image" style="width:100%")
                    .card-body
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
                
             .col-md-3.py-2
                .card.h-100.shopping-card-margin
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category.text-center
                        | Deals of the Day
                      img.card-img-top.shopping-home-img(src="/img/airfreshener.png" alt="Card image" style="width:100%")
                    .card-text
                      .price-old  KES 219
                        span
                          |  KES 198
                        small
                          a(href="#")
                            | See More deals
                
             .col-md-3.py-2
                .card.h-100.shopping-card-margin
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category
                        | Featured Products
                      img.card-img-top.shopping-home-img(src="/img/royco.png" alt="Card image" style="width:100%")
                    .card-text
                      small
                        a(href="#")
                          | Shop Here
               
             .col-md-3.py-2
                .card.h-100.shopping-card-margin
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category
                        | New Arrivals
                      img.card-img-top.shopping-home-img(src="/img/royco.png" alt="Card image" style="width:100%")
                    .card-text
                      small
                        a(href="#")
                          | Shop Here
  
         
         .section.sponsored-deal(style="background-color:  #fff; margin: 1rem;")
            div.row
              div.col-sm-6
                div.row
                  div.col-md-6
                    .card(style="border:none !important")
                       img(class="card-img-top img-fluid" src="/img/rings.jpeg" alt="Card image cap")
                  div.col-md-6
                    .card(style="border:none !important")
                      .card-block(style="padding:1rem")
                          h4(class="card-title")
                            | title
                          p(class="card-text")
                            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          p(class="card-text")
                            small.text-muted
                              | Last updated 3 mins ago
                          
              div.col-sm-6
                div.row
                  div.col-md-6
                    .card(style="border:none !important")
                       img(class="card-img-top img-fluid" src="/img/rings.jpeg" alt="Card image cap")
                  div.col-md-6
                    .card(style="border:none !important")
                      .card-block(style="padding:1rem")
                          h4(class="card-title")
                            | Title
                          p(class="card-text")
                            | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          p(class="card-text")
                            small.text-muted
                              | Last updated 3 mins ago
           
         .section.shop-now
            h5(style="margin:1rem;")
                | Favourites
            .row
              .col-md-3.py-2
                .card.h-100.shopping-card-margin(style="border:none !important")
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category.text-center
                        | Best Sellers
                      img.card-img-top.shopping-home-img(src="/img/blueband.jpg" alt="Card image" style="width:100%")
                    .card-body
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
              .col-md-3.py-2
                .card.h-100.shopping-card-margin(style="border:none !important")
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category.text-center
                        | Best Sellers
                      img.card-img-top.shopping-home-img(src="/img/airfreshener.png" alt="Card image" style="width:100%")
                    .card-body
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
                
              .col-md-3.py-2
                .card.h-100.shopping-card-margin(style="border:none !important")
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category.text-center
                        | Best Sellers
                      img.card-img-top.shopping-home-img(src="/img/royco.png" alt="Card image" style="width:100%")
                    .card-body
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
              .col-md-3.py-2
                .card.h-100.shopping-card-margin(style="border:none !important")
                  .card-body
                    .card-title.shop-card-title
                      h5.agile-title.h-order-category.text-center
                        | Best Sellers
                      img.card-img-top.shopping-home-img(src="/img/royco.png" alt="Card image" style="width:100%")
                    .card-body
                      .card-text
                        small
                          a(href="#")
                            | Shop Now
               
              
         .section.general-best-sellers
            h5.agile-title.h-order-category.text-left
              | Best Sellers Today
              span 
                small
                  a(href="#")
                    | see More
            row
              .owl-carousel.owl-theme
                .item(style="border:none")
                   .card(style="border:none !important")
                      img.card-img-top.w-100.product-img-home(src="/img/exe.jpeg" alt="1 slide")
                .item(style="border:none")
                   .card(style="border:none !important")
                      img.card-img-top.w-100.product-img-home(src="/img/rice.jpeg" alt="1 slide")
                .item(style="border:none")
                   .card(style="border:none !important")
                      img.card-img-top.w-100.product-img-home(src="/img/earrings.jpeg" alt="1 slide")
                .item(style="border:none")
                   .card(style="border:none !important")
                      img.card-img-top.w-100.product-img-home(src="/img/beer.jpeg" alt="1 slide")
                .item(style="border:none")
                   .card(style="border:none !important")
                      img.card-img-top.w-100.product-img-home(src="/img/pillows.jpeg" alt="1 slide")
                .item(style="border:none")
                   .card(style="border:none !important")
                      img.card-img-top.w-100.product-img-home(src="/img/mats.jpeg" alt="1 slide")
                
      

    // script to show quick look on mouseover
    script(type='text/javascript').
        $(document).ready(function () {
        $('.img-wrap').hover(function () {
            $(this).find('span').show();
        }, function () {
            $(this).find('span').hide();
        });
        });
    //owl carousel
    script(type='text/javascript').
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
      });