extends ../layout-shop
block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top
      .row
        each product in products
          .col-md-3
            .card(style='')
              a(href="/product/item/"+product.slug)
                img.card-img-top(src='/uploads/product/thumbs/'+product.photo alt='...')
                .card-body
                    h5.card-title 
                        =product.name
                    p.card-text
                      p.padding.text-left.description-cat  !{product.description.substr(0, 350)}
                    ul.list-group.list-group-flush
                        li.list-group-item 
                          .alert.alert-danger(role='alert')
                            | Price KES
                            =product.price
