extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-md-12.col-lg-12.col-sm-12
      .white-box
        
        h3.box-title Adverts
        .table-responsive(style="width:100%")
          table.table
            thead
              tr
                th NO.
                th PHOTO
                th PAID
                th PRICE
                th DATE
                th TYPE
                th APPROVED
                th CONFIRMED
                th ACTIONS
                //th START
                //th EXPIRY
                //th ADDED ON
            tbody
              each ad,i in adverts
                tr
                  td #{i+1}
                  td
                    img(src="/uploads/thumbs/adverts/"+ad.photo style="width:150px; height:150px")
                  td 
                    if(ad.paid)
                       span(style="color:red") Paid
                  td.txt-oflo 
                    =ad.price 
                  td.txt-oflo 
                    =ad.date 
                  td.txt-oflo 
                    =ad.type 
                  td.txt-info 
                    =ad.approved
                  td.txt-info 
                    =ad.confirmation
                  td
                    span.text-info
                      a(href="/admin/adverts/confirm/"+ad.id, onclick="return confirm('Are you sure you want to Confirm this ad?')", title="Confirm Ad")
                        i.fa.fa-check.fa-fw(aria-hidden='true')
                    span.text-info
                      a(href="/admin/adverts/approve/"+ad.id, onclick="return confirm('Are you sure you want to activate this ad?')", title="Approve Ad")
                    i.fa.fa-check-square-o(aria-hidden='true')    
                    span.text-info
                      a(href="/admin/advert/delete/"+ad.id, onclick="return confirm('Are you sure you want to activate this ad?')", title="Delete")
                        i.fa.fa-trash.fa-fw(aria-hidden='true')
                  //td
                    span.text-info
                      =ad.date
              
