extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-md-12.col-lg-12.col-sm-12
      .white-box
        .col-md-3.col-sm-4.col-xs-6.pull-right
          select.form-control.pull-right.row.b-none
            option March 2017
            option April 2017
            option May 2017
            option June 2017
            option July 2017
        h3.box-title Businesses
        .table-responsive(style="width:100%")
          table.table
            thead
              tr
                th #
                th NAME
                th CATEGORY
                th CITY
                th PAID
                th APPROVED
                th ADDED ON
            tbody
              each biz,i in businesses
                tr
                  td #{i+1}
                  td.txt-oflo 
                    a(href="/biz/"+biz.slug)
                      =biz.name
                  td 
                    =biz.subcategory
                  td.txt-oflo 
                    =biz.city
                  td
                    span.text-success
                      =biz.paid
                  td
                    span.text-info
                      =biz.approved
                  td
                    span.text-info
                      =biz.date
              
