extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-lg-4.col-sm-6.col-xs-12
      .white-box.analytics-info
        h3.box-title Total Visit
        ul.list-inline.two-part
          li
            #sparklinedash
          li.text-right
            i.ti-arrow-up.text-success
            span.counter.text-success 659
    .col-lg-4.col-sm-6.col-xs-12
      .white-box.analytics-info
        h3.box-title Total Page Views
        ul.list-inline.two-part
          li
            #sparklinedash2
          li.text-right
            i.ti-arrow-up.text-purple
            span.counter.text-purple 869
    .col-lg-4.col-sm-6.col-xs-12
      .white-box.analytics-info
        h3.box-title Unique Visitor
        ul.list-inline.two-part
          li
            #sparklinedash3
          li.text-right
            i.ti-arrow-up.text-info
            span.counter.text-info 911
  // ==============================================================
  // table
  // ==============================================================
  .row
    .col-md-12.col-lg-12.col-sm-12
      .white-box
        .col-md-3.col-sm-4.col-xs-6.pull-right
          select.form-control.pull-right.row.b-none
            option March 2017
            option April 2017
            option May 2017
            option June 2017
            option July 2017
        h3.box-title Categories
        .table-responsive
          table.table
            thead
              tr
                th #
                th NAME
                th APPROVED
                th ICON
                th ACTIONS
            tbody
              each category,i in categories
                tr
                  td
                    = i+1
                  td 
                    =category.name
                  td 
                    =category.approved
                  td
                    each cat in category.subcategories
                      =cat.name 
                      a(href="/admin/subcategory/delete/"+category.id+"/"+cat.name, onclick="return confirm('Are you sure you want to delete this Category?')")
                        i.fa.fa-trash.fa-fw(aria-hidden='true')
                      a(href="/admin/subcategory/"+cat.name,'title'="See Businesses Under This Category")
                        i.fa.fa-eye.fa-fw(aria-hidden='true')
                      br
                  td
                    =category.icon
                  td
                    span.text-info
                      a(href="/admin/category/delete/"+category.id, onclick="return confirm('Are you sure you want to delete this Category?')", title="Delete Category")
                        i.fa.fa-trash.fa-fw(aria-hidden='true')
                    span.text-info
                      a(href="/admin/category/edit/"+category.id, title="Edit Category")
                        i.fa.fa-pencil.fa-fw(aria-hidden='true')
                    span.text-info
                      a(href="/admin/category/showhome/"+category.id, title="Show on home page")
                        i.fa.fa-check.fa-fw(aria-hidden='true')