extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-md-12.col-lg-12.col-sm-12.dash-padding
      .white-box.row
        h3.box-title Businesses
        .col-md-12.col-sm-12.col-xs-12
        .table
          table.table#businesses
            thead
              tr
                th NAME
                th CATEGORY
                th CITY
                th PAID
                th APPROVED
                th PACKAGE
                th ACTIONS
            tbody

          