extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-md-12.col-lg-12.col-sm-12
      .white-box.row
        .col-md-3.col-sm-4.col-xs-6.pull-right
          select.form-control.pull-right.row.b-none
            option March 2017
            option April 2017
            option May 2017
            option June 2017
            option July 2017
        h3.box-title Businesses
        .col-md-12.col-sm-12.col-xs-12
          table.table
            thead
              tr
                th #
                th NAME
                th CATEGORY
                th CITY
                th PAID
                th APPROVED
                th PACKAGE
                th ACTIONS
            tbody
              each biz,i in businesses
                tr
                  td #{i+1}
                  td.txt-oflo 
                    a(href="/"+biz.slug)
                      =biz.name
                  td 
                    =biz.subcategory
                  td.txt-oflo 
                    =biz.city
                  td
                    span.text-success
                      =biz.paid
                  td
                    span.text-info
                      =biz.approved
                  td
                    span.text-info
                      =biz.packagepaid
                  td
                    span.text-info
                      a(href="/admin/edit/"+biz.id)
                        | Edit 
                      if(biz.role == 1)
                        a(href="/admin/delete/"+biz.id, onclick="return confirm('Are you sure you want to delete this business?')")
                          | Delete 
                      if(user.role == 1)
                        a(href="/admin/approve/"+biz.id)
                          |  Approve 
                      a(href="/claim-form/"+biz.id, title="Pay for this business")
                        | Pay