extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-lg-12.col-sm-12.col-xs-12.dash-padding
      .white-box.analytics-info
       
        p 
          strong Your Name: 
          if(user.names) 
            =user.names
          else
              | N/A
            
        
        p 
          strong Phone Number: 
          if(user.phone)   
            =user.phone
          else
             | N/A
        
        p 
          strong Email Address: 
          if(user.email) 
            =user.email
          else
             | N/A
         
        
        p
           a(href='/editprofile')
             Strong
               span.fa.fa-pencil   
               |    Edit Profile
        p
          a(href='/admin/changepassword')
            Strong
              span.fa.fa-lock    
              |    Change Password
        
        //p
          =user.role
        
