extends admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-lg-12.col-sm-12.col-xs-12
      .white-box.analytics-info
        p 
          =user.names
        p
          =user.phone
        p
          =user.email
        p
          =user.website
        p
          =user.role
        