extends ../admin/admin-layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      h3.text-center
        | Kindly Input The Name and Phone Number of Your Agent
      row
        .col-md-10.col-sm-12.col-xs-12
          form(method='post', action='/admin/agent/create')
            .form-group
              input.form-control(name='name',type='text',placeholder="Full Name") 
            .form-group
              input.form-control(name='phone',type='text',placeholder="phone") 
            .form-group     
              button.btn.btn-info.btn-block.waves-effect.waves-light(type='submit')
                | Create