extends layout-new
block content
 div.container-fluid
  div#home.banner
    div.row.justify-content-end.my-row    
      div.col-md-4.col-sm-8.col-xm-8.my-col.text-right
        div.banner-text-top
          nav.navbar.navbar-expand-sm.addbusiness.nav-bar-addbusiness.navbar-nav.ml-lg-auto.text-center
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/business/newpackage')
                  span.fas.fa-database.user-fav
                  strong
                    |  Add Business
              li.nav-item
                a.nav-link(href='/add-agent')
                  span.fas.fa-user-tie.user-fav
                  strong
                    |  Apply as an Agent
        a.link(href="")
          .banner-visit-page
            button.input-group-addon#basic-addon1.finditbutton.input-group-addon.text-center
              | Visit Page
    div.row.my-row.justify-content-start
      div.col-md-8.col-sm-8.col-xm-8.my-col
        div.banner-text#hideSearch
          form(method='get', action='/search')
            div.input-group
              span.input-group-addon#basic-addon1.finditbutton.input-group-addon.text-center
                h5
                  |  Find
              input#search2.form-control.form-control-lg(type="text" placeholder="Restaurants, Holidays, Businesses, Lawyers, Doctors..." ,name='search', autofocus)
          //.nav.listhome-nav
            each category,i in categories
              ul
                if i <4
                  a(href="/category/"+category.name)
                    li.listItems-home
                      i.fas.fa-1x(aria-hidden='true', class=category.icon)
                      strong   
                        =category.name 

  //search by category
  //center
  //section.wthree-row.py-sm-5.py-3.w3-about
  div.container-fluid.container-margin
    
    //main categories and coupon row
    div.row.my-row.justify-content-center
      //categories
      div.col-md-8.col-lg-8.col-sm-12.col-sm-12.my-col
        h2.agile-title.h-order-category.text-center
          | Search by Category
        div.row.mt-sm-8.text-center
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9965055906014205', data-ad-slot='7358207938', data-ad-format='auto')
          script.
            window.onload = function() {  (adsbygoogle = window.adsbygoogle || []).push({});}
        div.row.mt-sm-8.text-center
          each category,i in categories
            if(i < 4)
              div.col-lg-3.col-md-3.col-sm-12.col-xm-12.w3-ab.my-md-0.my-sm-12.my-4
                  //div.w3-ab-grid
                  a(href="/category/"+category.name)
                    div.w3-aicon.py-lg-5.py-md-3.py-5
                        img.img-fluid.category-img-wrapper(src="/uploads/thumbs/categories/"+category.photo, alt="Responsive image",data-wow-delay="0.6s")
                        h6.my-3
                         =category.name
                    div.w3-ab-captn.p-md-3.py-4
                      i.fas.fa-bed
                      h4.my-lg-3.my-md-2.my-3
                        | Professional Services
                      p.px-3
                        | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              
        //div.agileabt-w3.py-lg-5
        div.row.mt-sm-8.text-center
          each category,i in categories
            if(i > 4 && i<8)
              div.col-lg-3.col-md-3.col-sm-12.col-xm-12.w3-ab.my-md-0.my-sm-12.my-4
                //div.w3-ab-grid
                a(href="/category/"+category.name)
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                      img.img-fluid.category-img-wrapper(src="/uploads/thumbs/categories/"+category.photo, alt="Responsive image",data-wow-delay="0.6s")
                      h6.my-3
                        =category.name
                  div.w3-ab-captn.p-md-3.py-4
                    i.fas.fa-bed
                    h4.my-lg-3.my-md-2.my-3
                      | Professional Services
                    p.px-3
                      | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              
          
          div.col-lg-3.col-md-3.w3-ab.my-md-0.my-sm-8.my-4( onclick="toggle_visibility('expandcategories');")
            a(href="#expandcategories")
                div.w3-aicon.py-lg-5.py-md-3.py-5
                  button.btn.btn-light(type="button")
                    span.findit-blue
                      | More Categories
                  img.img-fluid.category-img-wrapper(src="/img/more_categories.png" alt="Responsive image",data-wow-delay="0.6s")
                  
                
                        
                            
        div.row#expandcategories( style="display:none; padding-top:5rem; border-top: 1px solid #eee")
          each category,i in categories
            div.col-md-4.col-sm-12.col-xs-12.morecat
              a(href="/category/"+category.name)
                  strong.findit-blue
                    i.fas.fa-1x(aria-hidden='true', class=category.icon) 
                    small.content-col.small-cart
                      strong   
                        =category.name
              hr(class=category.name)
              .div.row
                ul
                  each subcat, i in category.subcategories
                    if(i<5)
                      li
                        small.small-cart
                          i(class="fas fa-check-circle" aria-hidden="true" style="margin-right:2px")
                          a.site-text-color(href="/subcategory/"+subcat.name)
                            =subcat.name
                  div
                    a(href="/category/"+category.name)
                      strong
                        | See more
                  
                  
                                      
                            
                
        // Latest review
        div.border-bottom
       
        div.row.latest-review
          div.col-12.my-col
           h2.agile-title.h-order-category.text-center
             | Latest Reviews
          
          each review, i in reviews
           if i<4
            div.col-lg-5.col-md-5.col-sm-12.col-xs-12.latest-review.latest-review-main.latest-review-container.coupon-col
              a(href="/biz/"+review.bizid.slug)  
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  
                img.img-fluid.latest-review-imgwrapper(src="/uploads/thumbs/cover"+ review.bizid.photo)
                
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  h6.text-left
                    strong
                      =review.bizid.name
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  small.text-center.content-col
                    |  #{review.length} Reviews
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    strong
                      =review.user_id.names
                      |  , Says
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                      i.the-review.content-col.content-col
                        =review.message
                div.col-12

                  p
                    
                    if reviews
                      if( reviews.length == 1) 
                        .col-md-6(class="rating medium star-icon value-"+review.star+" label-hidden")
                          .star-container
                            .star
                              i.star-empty
                              i.star-half
                              i.star-filled
                            .star
                              i.star-empty
                              i.star-half
                              i.star-filled
                            .star
                              i.star-empty
                              i.star-half
                              i.star-filled
                            .star
                              i.star-empty
                              i.star-half
                              i.star-filled
                            .star
                              i.star-empty
                              i.star-half
                              i.star-filled
                        
                      else if( reviews.length > 1)
                        span.glyphicon.glyphicon-cog.glyph.border
                          div(class="rating medium star-icon value-"+review.star+" label-hidden")
                            .star-container
                              .star
                                i.star-empty
                                i.star-half
                                i.star-filled
                              .star
                                i.star-empty
                                i.star-half
                                i.star-filled
                              .star
                                i.star-empty
                                i.star-half
                                i.star-filled
                              .star
                                i.star-empty
                                i.star-half
                                i.star-filled
                              .star
                                i.star-empty
                                i.star-half
                                i.star-filled
                      
                  
                .col-12.text-left.content-col
                  .small
                    =review.created_at

    
          
     
              
      div.col-lg-4.col-md-4.col-sm-6.col-xs-6
        div
          h2.agile-title.h-order-category.text-center
            | Top deals
            //top deal
        each coupon,i in coupons
          a(href="/coupons")
            row.deal-main.deal-coup.coupon-items.column
              div.content  
                .div.col-md-12.col-sm-12.col-xs-12
                  strong
                    h5                 
                      = coupon.name
                    h6
                    small.findit-red
                      strong
                        | @       
                        =coupon.bizid.name
                .div.col-md-12.col-lg-12.col-sm-12.col-xs-12
                    img.coup-img-wrapper.img-fluid(src="/uploads/thumbs/coupons/"+ coupon.photo, alt="Responsive image")
                //.div.col-md-12.col-lg-12.col-sm-12.col-xs-12.float-left 
                  
                
                .div.col-md-12.col-lg-12.col-sm-12.col-xs-12(style="color:#212529 !important")
                    =coupon.description
                  
                .div.col-md-12.col-lg-12.col-sm-12.col-xs-12.center-left
                  button.btn.btn-outline-primary(type="button" )
                    =coupon.tagline 
  //about
  div.container-fluid
    #about
      section.aboutsection
        div.banner-des
          .titl
            | About Us
          div.details
            div.about-content
              div.row 
                .col-md-6
                  h3.agile-title
                    | Who we are
                  div
                    | Findit.ke is Kenya’s first online directory to showcase your products. With access to 1000’s of businesses already signed up we are able to provide updated business information to our users.
                    br
                    | From Manufacturers to Retailers, Doctors or Dentists, Legal Advisors or Consultants or maybe hotels and Restaurants.   
                    br
                    | We have it all.
                  
                .col-md-6
                  h3.agile-title
                    | Own a Business?
                  div
                    | List your business on Find It today!
                    br
                    | Reach new Customers at the most affordable packages, 
                    br
                    | Show case your products and publish special offers. 
                  div
                    a(href='/business/newpackage')
                      | Get Started by Listing your business
                      span
                        i(class="arrow right")
      section
        div.row 
          .col-md-4(style="padding: 1rem 3rem 1rem 3rem;")
              .card-body
                h4.card-title.agile-title.about-header-category
                  | View Deals
                .card-text
                  | Save money, We have over 100’s of offers for you
                  p
                    a(href="/coupons")
                      | View Available deals
                      span| 
                        i(class="arrow right") 
                
          
          .col-md-4(style="padding: 1rem 3rem 1rem 3rem;")
              .card-body
                h4.card-title.agile-title.about-header-category
                  | Find Everything
                .card-text
                  | From Manufacturers to Retailers, Doctors or Dentists, Legal Advisors or Consultants or maybe hotels and Restaurants. We have it all.
                  p
                    a(href="#hideSearch")
                      | Get Started
                      span| 
                        i(class="arrow right") 
          .col-md-4(style="padding: 1rem 3rem 1rem 3rem;")
              .card-body
                h4.card-title.agile-title.about-header-category
                  | Shop Products
                .card-text
                  | Coming Soon...

             
         
        
  //footer
  div.container-fluid
    div.row.text-center.footer-style
      .col-md-4
        .terms-policy.footer-text
              ul
                li
                  a.footer-text(href='https://www.instagram.com/finditkenya/?hl=en', target='_blank', class="fa-layers fa-2x")
                    i.list-social.fab.fa-facebook-f
                li
                  a.footer-text(href='https://twitter.com/findit254?lang=en', target='_blank', class="fa-layers fa-2x")
                    i.list-social.fab.fa-twitter 
                li
                  a.footer-text(href='https://www.instagram.com/finditkenya/?hl=en', target='_blank', class="fa-layers fa-2x")
                    i.list-social.fab.fa-instagram
      .col-md-4
         .terms-policy.footer-text
              ul
                li
                  a.footer-text(href='/terms-and-conditions', target='_blank')
                    |  Terms and Conditions
                li
                  a.footer-text(href='/privacy-policy', target='_blank')
                    |  Privacy Policy
      .col-md-4
        .terms-policy.footer-text
              ul
                li
                  a.footer-text(href="/coupons", target='_parent')
                    |  View Deals
                li
                  a.footer-text(href='/business/newpackage', target='_parent')
                    |  Pricing
                li
                  a.footer-text(href='https://lookfindkenya.wordpress.com/', target='_blank')
                    |  Blog
                
    .col-md-12.col-sm-12.text-center.footer-style     
        p
          | © 2018 Find it Kenya. All rights reserved | FinditKe
  
    //script to change background image on refresh
     script(type="text/javascript").
      $(function() {
        var images = ['best-banner.jpg', 'doctor.jpg','office.jpg', 'find.jpeg','furnitures.jpg','velvex-chan.png','ibis.jpg'];
        $('.banner').css({'background-image': 'url(banner-img/' + images[Math.floor(Math.random() * images.length)] + ')'});
      });

    //script to change background image on refresh
    script(type="text/javascript").
      $(function() {
        var images = [['best-banner.jpg','/category/Restaurants'], ['doctor.jpg','/category/Medical'],['office.jpg','/category/Office'], ['find.jpeg','/category/Travel'],['furnitures.jpg','/biz/Furniture-palace-international-kenya-ltd'],['velvex-chan.png','/biz/Chandaria-Industries-Ltd'],['ibis.jpg','/biz/Ibis-Styles-Hotel-Nairobi'], ['sajceramic.jpg','/biz/Saj-Ceramics-Ltd' ],['sajceramics01.jpg','/biz/Saj-Ceramics-Ltd'],['seramic02.jpg','/biz/Saj-Ceramics-Ltd'],['newmatic1.jpg', '/biz/Newmatic-Africa'], ['newmatic2.jpg', '/biz/Newmatic-Africa'], ['newmatic3.jpg', '/biz/Newmatic-Africa']];
        var randomimagegenerator = images[Math.floor(Math.random() * images.length)] 
        $('.banner').css({'background-image': 'url(banner-img/' + randomimagegenerator[0] +')'});
        //var idHome = document.getElementById("home");
        //var aTag = document.createElement('a');
        var aTagWithLink = $('.link').attr('href',randomimagegenerator[1]);

        console.log(aTagWithLink);
       
        //document.body.insertBefore(aTagWithLink, idHome);
      
        console.log(randomimagegenerator[1]);
        
        
      });
    //animation
    

    //script to toggle morecategories
    script(type="text/javascript").
      function toggle_visibility(id) {
        var e = document.getElementById(id);
        e.style.display = ((e.style.display!='none') ? 'none' : '');
      }

    //sript to hide search on menu on scroll
    script(type='text/javascript').
      $(window).scroll(function() {

        if ($(this).scrollTop()>2)
        {
            $(function() {
              $("#hideSearch").css("visibility", "hidden");
            });
        }
        else
        {
          $(function() {
              $("#hideSearch").css("visibility", "visible");
            });
        }
      });
      $(function() {
        var options = {

          url: function(phrase) {
            return "/nss/"+$('#search2').val();
          },

          getValue: function(element) {
            return element.slug;
          },
          template: {
            type: "description",
            fields: {
              description: "website"
            }
          },
          list: {
            onClickEvent: function() {
              self.location = "/biz/"+$('#search2').getSelectedItemData().slug;
            } 
          },
          ajaxSettings: {
            method: "GET"
          }
        };
        var timer;      


        $("#search2").easyAutocomplete(options);
        $("#search2" ).focus();
      });
