extends layout
block content
 div.container-fluid
  div#home.banner
    div.row.justify-content-end.my-row    
      div.col-md-4.col-sm-8.col-xm-8.my-col.text-right
        div.banner-text-top
          nav.navbar.navbar-expand-sm.addbusiness.nav-bar-addbusiness.navbar-nav.ml-lg-auto.text-center
            ul.navbar-nav
              li.nav-item
                a.nav-link(href="#")
                  span.fas.fa-database.user-fav
                    |  Add Business
              li.nav-item
                a.nav-link(href="#")
                  span.fas.fa-user-tie.user-fav
                   |  Apply as an Agent
    div.row.my-row.justify-content-start
      div.col-md-8.col-sm-8.col-xm-8.my-col
        div.banner-text
          form(method='get', action='/search')
            div.input-group
              span.input-group-addon#basic-addon1.finditbutton.input-group-addon.text-center
               h5
                |  Find
              input.form-control.form-control-lg(type="text" class="form-control" placeholder="Restaurants, Events, Hotels, Holidays, Businesses, lawyers, Doctors..." aria-describedby="basic-addon1")
    
    
  //search by category
  //center
  //section.wthree-row.py-sm-5.py-3.w3-about
  div.container-fluid.user-fav
    
    //main categories and coupon row
    div.row.my-row.justify-content-center
      //categories
      div.col-8.my-col
        h2.agile-title.h-order-category.text-center
          | Search by Category

  
        div.row.my-md-5.mt-sm-5.my-4.text-center
              div.col-lg-3.col-md-6.w3-ab
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/restaurant.jpg" alt="Responsive image")
                    h6.my-3
                     | Restaurants
                div.w3-ab-captn.p-md-3.py-4
                  i.fas.fa-bed
                  h4.my-lg-3.my-md-2.my-3
                    | Professional Services
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              div.col-lg-3.col-md-6.m-lg-0.mt-md-5.w3-ab
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/finance.jpeg" alt="Responsive image")
                    h6.my-3
                      | Financial
                            
                div.w3-ab-captn.p-md-3.py-4
                  i.fab.fa-slideshare
                  h4.my-lg-3.my-md-2.my-3
                    | traventure
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              div.col-lg-3.col-md-6.m-lg-0.mt-md-5.w3-ab
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/medical.jpg" alt="Responsive image")
                    h6.my-3
                      | Medical
                            
                div.w3-ab-captn.p-md-3.py-4
                  i.fas.fa-ticket-alt
                  h4.my-lg-3.my-md-2.my-3
                    | traventure
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              div.col-lg-3.col-md-6.m-lg-0.mt-md-5.w3-ab
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/legal.jpg" alt="Responsive image")
                    h6.my-3
                     | Legal
                            
                div.w3-ab-captn.p-md-3.py-4
                  i.fas.fa-ticket-alt
                  h4.my-lg-3.my-md-2.my-3
                    | traventure
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
        //div.agileabt-w3.py-lg-5
        div.row.my-md-5.mt-sm-5.my-4.text-center
              div.col-lg-3.col-md-6.w3-ab
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/travel.jpeg" alt="Responsive image")
                    h6.my-3
                      | Travel
                div.w3-ab-captn.p-md-3.py-4
                  i.fas.fa-bed
                  h4.my-lg-3.my-md-2.my-3
                    | Professional Services
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              div.col-lg-3.col-md-6.w3-ab.my-md-0.my-sm-5.my-4
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/office.jpeg" alt="Responsive image")
                    h6.my-3
                      | Offices
                            
                div.w3-ab-captn.p-md-3.py-4
                  i.fab.fa-slideshare
                  h4.my-lg-3.my-md-2.my-3
                    | traventure
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              div.col-lg-3.col-md-6.w3-ab.my-md-0.my-sm-5.my-4
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/shopping.jpg" alt="Responsive image")
                    h6.my-3
                      | Shopping
                            
                div.w3-ab-captn.p-md-3.py-4
                  i.fab.fa-slideshare
                  h4.my-lg-3.my-md-2.my-3
                    | traventure
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
              div.col-lg-3.col-md-6.w3-ab.my-md-0.my-sm-5.my-4
                div.w3-ab-grid
                  div.w3-aicon.py-lg-5.py-md-3.py-5
                    img.img-fluid(src="/img/emergency.jpg" alt="Responsive image")
                    h6.my-3
                      | Emergency
                            
                div.w3-ab-captn.p-md-3.py-4
                  i.fab.fa-slideshare
                  h4.my-lg-3.my-md-2.my-3
                    | traventure
                  p.px-3
                    | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
      div.col-lg-4.col-md-4.col-sm-6.col-xs-6
        div
          h2.agile-title.h-order-category.text-center
            | Top deals
            //top deal
        row.deal-main
          div.col-6
            div
               img.deal-img-wrapper.img-fluid(src="/img/emergency.jpg" alt="Responsive image")
               p
                h5
                 | Get 30% Off
                

          div.col-6  
            p
             h5.my-3
                | Big Square Gigiri
             p
                | SQUAREMADE burgers, fried chicken, BBQ ribs, beer, wine, delicious desserts and hand-spun shakes.
             div
               p
                strike
                   |Ksh. 660
                |Ksh. 460
             div
                 button.btn.btn-outline-primary(type="button" )
                   |30% OFF
        row.deal-main
          div.col-6
            div
               img.deal-img-wrapper.img-fluid(src="/img/emergency.jpg" alt="Responsive image")
               p
                h5
                 | Get 30% Off
                

          div.col-6  
            p
             h5.my-3
                | Big Square Gigiri
             p
                | SQUAREMADE burgers, fried chicken, BBQ ribs, beer, wine, delicious desserts and hand-spun shakes.
             div
               p
                strike
                   |Ksh. 660
                |Ksh. 460
             div
                 button.btn.btn-outline-primary(type="button" )
                   |30% OFF
        row.deal-main
           div.col-6
             div
               img.deal-img-wrapper.img-fluid(src="/img/emergency.jpg" alt="Responsive image")
               p
                h5
                 | Get 30% Off
                

           div.col-6  
            p
             h5.my-3
                | Big Square Gigiri
             p
                | SQUAREMADE burgers, fried chicken, BBQ ribs, beer, wine, delicious desserts and hand-spun shakes.
             div
               p
                strike
                   |Ksh. 660
                |Ksh. 460
             div
                 button.btn.btn-outline-primary(type="button" )
                   |30% OFF

                 
            
            

          
          
       
