doctype html
html
head
  meta(charset="utf-8")
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="keywords" content=description)
  
  //custom theme files
  link(href="stylesheets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all")
  link(href="stylesheets/css/style.css" type="text/css" rel="stylesheet" media="all")
 
  //font-awesome icons
  link(href="stylesheets/css/fontawesome-all.min.css" rel="stylesheet")
  //online-fonts
  link(href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet")
  
  script(type='text/javascript').
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
        }, false)
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
  //custom template files
body
  ul.navbar-nav.ml-lg-auto.text-center
  //banner - only on homepage
  div#home.banner
    header
    //header before navigation items
    nav.navbar.navbar-expand-lg.navbar-light.bg-gradient-secondary.pt-3
      h1
        a.navbar-brand.text-white(href="/")
          em
            img(src="/img/find-it.png").img-fluid
      //site navigation 
      button.navbar-toggler.ml-md-auto(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-lg-auto.text-center
          li.nav-item.mr-3
            a(href="/").nav-link
              span.fas.fa-home
              | Home
          li.nav-item.mr-3
            a(href="/coupons").nav-link
              span.fas.fa-gift
              | Coupons
          li.nav-item.mr-3
            a.nav-link.dropdown-toggle#navbarDropdown(href="/categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              span.fas.fa-gift
                | Categories 
            div.dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href="categories.html")
                | Hospitality
              a.dropdown-item(href="categories.html")
                | Offices
              div.dropdown-divider
              a.dropdown-item(href="categories.html")
                | Emergency
              a.dropdown-item(href="categories.html")
                | Others
                
          if user
            li.nav-item.mr-3                  
              a(href='/dashboard')  
                span.fas.fa-user
                |  View Profile
            li.nav-item.mr-3
              a(href='/') 
                span.fas.fa-home
                |  Home            
          if user                
            li.nav-item.mr-3
              a(href='/logout') 
                span.fas.fa-sign-out
                |  Logout
          else
            li.nav-item.mr-3
              button(data-id="login" data-toggle="modal" aria-pressed="false" data-target="#exampleModal")
                | Login

        
      // site navbar
    //navbar
    // /.header
    .errors.container
      if errors
        each error in errors
          .alert.alert-danger
            = error
      
      if message
        .alert.alert-info
          = message
      if success_msg.length
        .alert.alert-success 
          = success_msg
      if error_msg.length
        .alert.alert-danger 
          = error_msg
      if error.length
        .alert.alert-danger 
          = error
    //block content for the header
    block content
  //registration and login form
  div(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true").modal.fade#exampleModal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5#exampleModalLabel.modal-title
            | Login
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true")
               | &times;
        div.modal-body
          form(action="#" method="post")
            div.form-group
              label.col-form-label(for="recipient-name")
                | Username
              input.form-control#recipient-name(type="text" placeholder="Username" name="Name" required="")
            div.form-group
              label.col-form-label(for="passwords")
                | Password
              input.form-control#recipient-name(type="password" placeholder="Password" name="password" required="")
            div.right-w3l
              input.form-control(type="submit" value="Log in")
            div.row.sub-w3l.my-3
              div.col.sub-agile
                input.brand1(type="checkbox" value="")
                label.text-white(for="brand1")
                  span
                    | Remember me?
              div.col.forgot-w3l.text-right
                a.text-white(href="#")
                  | Forgot Password?
            p.text-center.dont-do.text-white
              | Don't have an account?
              a.text-white(ref="#" data-toggle="modal" data-target="#exampleModal1")
                | Register
  div.modal.fade#exampleModal1(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title(id="exampleModalLabel")
              | Login
              div.form-group
          button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true")
               | &times;
        div.modal-body
           form(action="#" method="post")
              div.form-group
                label.col-form-label(for="recipient-name")
                  | User Name
                input.form-control#recipient-rname(type="text" class="form-control" placeholder=" " name="Name" required="")
              div.form-group
                label.col-form-label(for="recipient-email")
                  | Email
                input.form-control#recipient-email(type="email" placeholder=" " name="Email"  required="")
              div.form-group
                label.col-form-label(for="password1")
                  | Password
                input.form-control#password1(type="password" placeholder=" " name="Password" required="")
              div.form-group
                label.col-form-label(for="password2")
                input.form-control#password2(type="password" placeholder=" " name="Confirm Password" required="")
              div.sub-w3l
              div.sub-agile
                input#brand2(type="checkbox" value="")
                label.mb-3(for="brand2")
                 span
                   | I Accept to the Terms & Conditions
              div.right-w3l
                input.form-control(type="submit" value="Register")
  //about
  section.wthree-row.py-sm-5.py-3.w3-about
    div.container.py-md-5.py-3
      div.row.pt-lg-5
        div.col-lg-5
          h3.agile-title
            | Findit Kenya. Locate a business or service in kenya
          span.w3-line
        div.col-lg-7.mt-lg-0.mt-3
           p
            | Are you looking for an office, a particular business, heath services, legal services, hospitality services such as restraurants and emergency services? Findit here!
      div.agileabt-w3.py-lg-5
        div.row.my-md-5.mt-sm-5.my-4.text-center
          div.col-lg-3.col-md-6.w3-ab
            div.w3-ab-grid
              div.w3-aicon.py-lg-5.py-md-3.py-5
                i.fas.fa-bed.py-md-3
                h4.my-3
                 | Restaurants
            div.w3-ab-captn.p-md-3.py-4
              i.fas.fa-bed
              h4.my-lg-3.my-md-2.my-3
                | Professional Services
              p.px-3
                | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
          div.col-lg-3.col-md-6.w3-ab.my-md-0.my-sm-5.my-4
            div.w3-ab-grid
              div.w3-aicon.py-lg-5.py-md-3.py-5
                i.fab.fa-slideshare.py-md-3
                h4.my-3
                  | Financial services
                            
            div.w3-ab-captn.p-md-3.py-4
              i.fab.fa-slideshare
              h4.my-lg-3.my-md-2.my-3
                | traventure
              p.px-3
                | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
          div.col-lg-3.col-md-6.m-lg-0.mt-md-5.w3-ab
            div.w3-ab-grid
              div.w3-aicon.py-lg-5.py-md-3.py-5
                i.fas.fa-ticket-alt.py-md-3
                h4.my-3
                  | Medical
                            
            div.w3-ab-captn.p-md-3.py-4
              i.fas.fa-ticket-alt
              h4.my-lg-3.my-md-2.my-3
                | traventure
              p.px-3
                | Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt
  
<!--bootstrap 4 javascript-->

script(src='/javascripts/bootstrapjs/jquery.prettyPhoto.js')
script(src='/javascripts/bootstrapjs/jquery.quicksand.js')
script(src='/javascripts/bootstrapjs/jquery-1.7.2.js')
script(src='/javascripts/bootstrapjs/jquery-ui.js')
script(src='/javascripts/bootstrapjs/script.js')


<!-- //js -->
script(src='/javascripts/bootstrapjs/jquery-2.2.3.min.js')
<!-- script for password match -->
script(type='text/javascript').
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
   
<!-- script for password match -->

<!-- Responsiveslides -->
script(src='/javascripts/bootstrapjs/responsiveslides.min.js')
script(type='text/javascript').
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    

<!-- // Responsiveslides -->

<!-- start-smooth-scrolling -->
script(src="js/move-top.js")
script(src='/javascripts/bootstrapjs/easing.js')

script(type='text/javascript').
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
   
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
script(type='text/javascript').
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
script(src='/javascripts/bootstrapjs/SmoothScroll.min.js')
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript-->
<!-- Placed at the end of the document so the pages load faster -->
script(src='/javascripts/bootstrapjs/bootstrap.js')
  

