extends layout-new
block content
  div.container-fluid
    #home.parallax-content-list.baner-content-listing-biz
        .container-fluid.container-margin-top
            
            .row
                each category in categories
                    .col-md-3
                        a(href="/category/"+category.name)
                            strong
                               =category.name 
                            each subcat, i in category.subcategories
                                .col-md-12
                                    a(href="/subcategory/sub/"+subcat.name)
                                       =subcat.name


                
                        