extends ../layout-min

block content
  #home.baner-content-listing-biz
    .container.container-margin-top
      .row.flowerwhite
          .col-md-12.text-center
            h4
              | Catalog/Menu
          .col-md-12
            embed(src="/uploads/"+fileurl, width='100%', height='800px')