extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container.container-margin-top
      .row.flowerwhite
        h4
          | Catalog/Menu
        embed(src="/uploads/"+fileurl, width='100%', height='800px')