extends ../layout-min
block content
  #home.parallax-content-list.baner-content-listing-biz
    .container.container-margin-top
      .page_body.basic-content
        .container
          h4 Select A Package For Your Business
          form(method='post', action='/business/newpackage')
            .form-group
              .row
                section#package
                  .col-md-3.packages-padding
                    .card.card-product
                      input.form-control-form.package#free(name='package', type='radio', value='free', required)
                      label#packagelabel(for='free')
                        .package-info.img-wrap-package 
                          h3.free
                            strong
                              |  Free (KES: 0)
                          ul
                            li
                              small Basic Information Only
                        .info-wrap   
                          .action-wrap 
                            .btn-package.selectpackage
                              strong
                                small Select Free Package
                  .col-md-3.packages-padding
                    .card.card-product
                      input.form-control-form.package#bronze(name='package', type='radio', value='bronze', required)
                      label#packagelabel(for='bronze')
                        .package-info.img-wrap-package 
                          h3.bronze
                            strong
                              | Bronze
                              br
                              span(style="text-decoration: line-through;")
                                small
                                  | Was (KES 8,000 /
                              br
                              span
                                small
                                  | Now (KES 2,000 /  
                              br
                              small Per Annum)
                          ul
                            li
                              small  Upto 6 Images
                            li
                              small 50 Words to describe your business  
                            li
                              small 10 keywords
                            li
                              small Map Location
                            li
                              small 1 catalog/Menu  
                        .info-wrap   
                          .action-wrap 
                            .btn-package.selectpackage
                              strong
                                small Select Bronze Package(KES 2,000)

                  .col-md-3.packages-padding
                    .card.card-product
                      input.form-control-form.package#silver(name='package', type='radio', value='silver', required)
                      label#packagelabel(for='silver')
                        .package-info.img-wrap-package 
                          h3.silver
                            strong
                              | Silver
                              br
                              span(style="text-decoration: line-through;")
                                small
                                  | Was (KES 15,000 /
                              br
                              span
                                small
                                  | Now (KES: 5,000 /  
                              br
                              small Per Annum)
                          ul
                            li
                              small Upto 15 Images
                            li
                              small 120 Words to describe your business  
                            li
                              small Upto 25 keywords
                            li
                              small Map Location
                            li
                              small Upto 3 catalog/Menu(s)
                            li
                              small Priority Listing one day per month
                            li
                              small 1 free news letter adverts per month  
                        .info-wrap   
                          .action-wrap 
                            .btn-package.selectpackage
                              strong
                                small  Select Silver Package(KES 5,000)                                    
                  .col-md-3.packages-padding 
                    .card.card-product                               
                      input.form-control-form.package#gold(name='package', type='radio', value='gold', required)
                      label#packagelabel(for='gold')
                        .package-info.img-wrap-package 
                          h3.gold
                            strong
                              | Gold
                              br
                              span(style="text-decoration: line-through;")
                                small
                                  | Was (KES 30,000 /
                              br
                              span
                                small
                                  | Now (KES: 12,000 /  
                              br
                              small Per Annum)
                          ul
                            li
                              small Unlimited Images
                            li
                              small 250 Words to describe your business  
                            li
                              small Upto 100 keywords
                            li
                              small Map Location
                            li
                              small Unlimited catalog/Menu(s)
                            li
                              small Priority Listing three day per month
                            li
                              small 3 free news letter adverts per month
                        .info-wrap   
                          .action-wrap
                            .btn-package.selectpackage
                              strong
                                small  Select Gold Package (KES: 12,000)
              .form-group
              button.btn.btn-claim.form-control-form.btn-gp(type='submit', style='color:#5050ff')                 
                strong
                h4.findit-blue
                  | Select Package
