extends ../layout-new
block content
  div.container-fluid(style="margin-top:3rem;")
    div.row#expandcategories( style="display:none; padding-top:5rem; border-top: 1px solid #eee")
        each category,i in categories
            div.col-md-4.col-sm-12.col-xs-12.morecat
                a(href="/category/"+category.name)
                    strong
                        i.fas.fa-1x(aria-hidden='true', class=category.icon, class=category.slug ) 
                        small.site-text-color.small-cart
                            strong   
                              =category.name
                hr.hr-cat(class=category.slug)
                .div.row
                    ul
                        each subcat, i in category.subcategories
                            if(i<5)
                                li
                                    small.small-cart
                                        i(class="fas fa-check-circle" aria-hidden="true" class=category.slug style="margin-right:2px; font-size: 12px;")
                                        a.sub-cat-color(href="/subcategory/sub/"+subcat.name)
                                          =subcat.name
                        div
                            a(href="/category/"+category.name)
                                strong
                                  | See more