extends ../layout-min

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .xxx
        .signup-or-separator
          hr
          span.h4
            |  Change Password
        form(method="post", action="/admin/changepassword")
          .form-group
            input.form-control-form(type='password', placeholder='Current Password', name='oldpassword')
            input.form-control-form(type='password', placeholder='New Password', name='newpassword')
            input.form-control-form(type='password', placeholder='Confirm Password', name='confirmpassword')
            button.btn-lgin(type='submit') 
              |  Change Password