extends ../layout-min

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .xxx
        .signup-or-separator
          span.h4
            |  Change Password
          hr
        form(method="post", action="/admin/changepassword")
          .form-group
            input.form-control-form(type='password', placeholder='Current Password', name='oldpassword')
            input.form-control-form(type='password', placeholder='New Password', name='newpassword')
            input.form-control-form(type='password', placeholder='Confirm Password', name='confirmpassword')
            button.btn.btn-primary.w3ls-btn(type='submit' style="margin-top:2px;") 
              |  Change Password