extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .xxx
        .signup-or-separator
          span.h6.signup-or-separator--text or
          hr
        form(method="post", action="/forgotpassword")
          .form-group
            input#exampleInputEmaillog.form-control-form(type='text', placeholder='email',name='email')
            button.btn-lgin(type='submit') 
              |  Reset Password