extends ../layout-min

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .div.xxx
          span.h4
            |  Enter the email address associated with your account, and we will email you a link to reset your password.
          hr
        
          form(method="post", action="/forgotpassword")
           .form-group
            .input-group
              .input-group-addon.input-forget
                input#exampleInputEmaillog.form-control-form(type='text', placeholder='email',name='email')
                br
                button.btn.btn-primary.w3ls-btn(type='submit') 
                  |  Send Reset Password Link