extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .xxx
        .signup-or-separator
          span.h4
            |  Enter the email address associated with your account, and we’ll email you a link to reset your password.
          hr
        form(method="post", action="/forgotpassword")
          .form-group
            input#exampleInputEmaillog.form-control-form(type='text', placeholder='email',name='email')
            button.btn-lgin(type='submit') 
              |  Send Reset Password Link