extends ../layout-min

block content
  div.container-fluid
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .div.xxx
        div.col-12.my-col
           h3.agile-title.login-title.text-center
             | Login

            
        a.btn-gp-link(href="/auth/facebook")
          button.btn.btn-primary.facebook-google-btn.form-control
            i.fab.fa-facebook-f.pull-left(aria-hidden='true') 
                       
            | &nbsp; Login with Facebook
        .div
           
        a.btn-gp-link(href="/auth/google")
          button.btn.btn-danger.facebook-google-btn.form-control
            i.fab.fa-google.pull-left(aria-hidden='true')          
            |  &nbsp;   Login with Google

        
        .div.signup-or-separator.login-form
          span.h6.signup-or-separator--text
          
        form(method="post", action="/login")
           .form-group
            .input-group
              .input-group-addon.form-control
                input#exampleInputEmaillog.form-control-form.form-control(type='text', placeholder='Username',name='username')
           .form-group
            .input-group
              .input-group-addon.form-control
                input#exampleInputPasswordpas.form-control-form.form-control(type='password', placeholder='Password',name='password')
           .row
            .col-md-5.clearfix
              .checkbox
                label.pull-left.checkbox-inline
                  input.input-group-addon(type='checkbox')
                  |    Remember me
            .col-md-5.col-md-offset-2
              a(href="/forgotpassword")
                p.frgt-pswd.pull-right(data-toggle='modal', data-dismiss='modal', data-target='#at-reset-pswd') Forgot Password ?
           .row
             .col-md-12
               button.btn.btn-primary.w3ls-btn(type='submit') Login
           hr
           .row
            .col-md-6
              p.ta-l.text-center.text-muted.small 
                |Don't have an account ? 
            .col-md-4.col-md-offset-2
              a(href="/register")
                .btn.btn-default Sign Up
          
        
             
        
