extends ../layout

block content
  div.container-fluid
    .container
      .row
        .card(style="margin: 0 auto;")
          .card__header
            h4 Login to your Account
          .card__content
            // Login Form
            form(action='/login', method="post")
              .form-group
                label(for='login-name') Your Email
                input#login-name.form-control(type='text' name='username' placeholder='Enter your email address...' required)
              .form-group
                label(for='login-password') Your Password
                input#login-password.form-control(type='password' name='password' placeholder='Enter your password...' required)
              .form-group.form-group--password-forgot
                label.checkbox.checkbox-inline
                  input#inlineCheckbox1(type='checkbox' value='option1' checked='')
                  |  Remember Me
                  span.checkbox-indicator
                span.password-reminder
                  a(href="/forgotpassword")
                    p.frgt-pswd(data-toggle='modal', data-dismiss='modal', data-target='#at-reset-pswd') Forgot Password ?
              .form-group.form-group--sm
                input.form-control.btn.btn-primary-inverse.btn-lg.btn-block(type="submit", value="Sign in to your account")
              .row
                .col-md-6
                  a.btn-gp-link(href="/auth/facebook")
                    button.btn.btn-facebook.btn-icon.btn.btn-success.w3ls-btn
                      i.fab.fa-facebook-f
                      |  Sign In via Facebook
                .col-md-6
                  a.btn-gp-link(href="/auth/google")
                    button.btn.btn-google.btn-icon.btn.btn-danger.w3ls-btn
                      i.fab.fa-google
                      |  Sign in via Google
                .col-md-12.text-center
                  br
                  a.btn.form-control(href="/register")
                    | Sign Up