extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .xxx
        .signup-or-separator
          span.h4.signup-or-separator--text 
          |  Enter a new password associated with your account.
          hr
        form(method="post", action="/resetpassword/"+id)
          .form-group
            input#exampleInputEmaillog.form-control-form(type='text', placeholder='New Password',name='password')
            input#exampleInputEmaillog.form-control-form(type='text', placeholder='Repeat Password',name='cpassword')
            button.btn-lgin(type='submit') 
              |  Reset Password