extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      div.xxx-forget
        span.h4 
          |  Enter a new password for your Find It account
        hr
        form(method="post", action="/resetpassword/"+id)
          .form-group
            .input-group
              .input-group-addon.input-forget
                input#exampleInputEmaillog.form-control-form(type='text', placeholder='New Password',name='password')
                input#exampleInputEmaillog.form-control-form(type='text', placeholder='Repeat Password',name='cpassword')
                br
                button.btn.btn-primary.w3ls-btn(type='submit') 
                  |  Reset Password