extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      if validationerrors
        each error in validationerrors
          .alert.alert-danger
            = error.msg
      .xxx
         p
          //| Sign up with 
          //- a(href='#') Facebook
          //- |   or 
          a.btn-gp-link(href="/auth/google")
            button.btn.btn-danger.facebook-google-btn.form-control
              i.fab.fa-google.pull-left(aria-hidden='true')          
              |  &nbsp;   Sign up with Google
          hr
         form(method="post", action="/register")
          .form-group
            input#names.form-control-form(type='text', placeholder='Full Name', name='names')
          .form-group
            input#email.form-control-form(type='email', placeholder='Email', name='username')
          .form-group
            input#phone.form-control-form(type='text', placeholder='Phone', name='phone')
          .form-group
            input#password.form-control-form(type='password', placeholder='Password', name='password')
          .form-group
            input#password.form-control-form(type='password', placeholder='Confirm Password', name='cpassword')
          .row
            .col-md-12
              .checkbox
                label
                  input(type='checkbox')
                  |                                   I’d like to receive coupons and inspiration
              p
                | By signing up, I agree to Find It’s , Payments 
                a(href='#') Terms of Service
                | , 
                a(href='#') Privacy Policy
                | , 
                a(href='#') Guest Refund Policy
                | , and 
                a(href='#') Host Guarantee Terms
                | .
          .form-group
            button.btn.btn-primary.w3ls-btn(type='submit') Signup
      
          .row
            .col-md-12.text-center
              p.ta-l Already a Member? 
              button.btn.btn-primary.w3ls-btn(data-toggle='modal', data-dismiss='modal', data-target='#at-login') Login