extends admin-layout

block content
  .page_body.basic-content
    .row
      .col-md-offset-3.col-md-6.col-md-offset-3
          h3.text-center Add Category
      .col-md-offset-0.col-md-12.col-md-offset-0
        form.form-horizontal(method="post",action="/shopping/category/add",enctype='multipart/form-data')
          .form-group
            .col-sm-12
              input#name.form-control-form(type='text', name='name', placeholder='Name')
          .form-group
            .col-sm-12
              input#icon.form-control-form(type='text', name='icon', placeholder='icon')
          .form-group
            .col-sm-12
              input#order.form-control-form(type='text', name='order', placeholder='order')
          .form-group
            .col-sm-12
              select#group.form-control-form(name='group')
                option(data-icon='glyphicon-wrench', ) --select group --
                option(data-icon='glyphicon glyphicon-globe', value='general') General
                option(data-icon='glyphicon glyphicon-globe',value='shopping') Shopping
          .form-group
            .col-sm-3
              label(for='photo') Cover Photo
            .col-sm-9
              input#photod.form-control-form(type='file', name='photo', placeholder='photo')
          .form-group
            .row
              button.button.btn.btn-warning.form-control-form(type='submit') Create
              
