extends ../layout-shop

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      .container-fluid
        row
          //.col-md-12
              h4.text-center 
                | Shopping Cart
            
          .container-fluid
            div.row 
              div.col-md-9
                table(id="cart" class="table table-hover table-condensed")
                  thead
                    tr
                      th(style="width:50%")
                        | Product
                      th(style="width:10%")
                        | Price
                      th(style="width:8%")
                        | Quantity
                      th(style="width:22%" class="text-center")
                        | Subtotal
                      th(style="width:10%")
                  if cartexists
                    tbody
                      each p in cart
                        tr
                          td(data-th="Product")
                            div(class="row")
                              div(class="col-sm-4 hidden-xs")
                                img.cart-image(src='/uploads/product/thumbs/'+p.photo alt="..." class="img-responsive")
                              div(class="col-sm-6")
                                h4(class="nomargin")
                                  =p.name 
                                p
                                =p.description
                                //div.small.findit-red
                                  a(href="/product/removefromcart/"+p._id)
                                    i.fa.fa-trash(aria-hidden="true",class='col-md-1')
                                      | Remove
                          td(data-th="Price")
                            =p.price
                          td(data-th="Quantity")
                            select(id=p._id, class="editcart")
                              option(value=p.count)
                                =p.count
                              option(value='1')
                                | 1
                              option(value='2')
                                | 2
                              option(value='3')
                                | 3
                              option(value='4')
                                | 4
                              option(value='5')
                                | 5
                              option(value='6')
                                | 6
                              option(value='7')
                                | 7
                              option(value='8')
                                | 8
                              option(value='9')
                                | 9
                              option(value='10')
                                | 10
                              
                          //input(type="number" class="form-control text-center" value="1")
                          td(data-th="Subtotal" class="text-center")
                            h6.Strong 
                              | Subtotal of (#{p.count}): 
                              .findit-red 
                                | KES: #{p.count * p.price}
                          td(class="actions" data-th="")
                            button(class="btn btn-primary btn-sm" style="margin-right:2px")
                              i(class="fas fa-refresh")
                            a(href="/product/removefromcart/"+p._id)
                              button(class="btn btn-danger btn-sm")
                                i(class="fas fa-trash")
                    tfoot
                      tr
                        td
                          a(href="#" id="#history-back" class="btn btn-warning")
                            i(class="fas fa-angle-left")
                              | Continue Shopping
                        td(colspan="2" class="hidden-xs")
                        td(class="hidden-xs text-center")
                          strong
                            | Total Price:   KES   
                            span#totalprice
                              =total
                        td
                          a(href="/product/shipping" class="btn btn-success btn-block")
                            | Checkout 
                            i(class="fas fa-angle-right")
            
              div.col-md-3
                .sticky-top(style="z-index:100; padding-top:20px;")
                  .card(style="width:fit-content;")
                    .card-body
                      row
                        .col-sm-12
                          h4.card-title
                            | Total Price:   KES   
                            span#totalprice
                              =total
                            a(href='/product/cart')
                              i.findit-blue(class="fas fa-cart-arrow-down fa-2x")
                          p.card-text
                            | Some example text some example text. Incase of a price cut due to offer
                          hr
                          a(href="/product/shipping")
                            button.btn.btn-primary
                              | Checkout
                  .div#previewcart
                    .card(style="width:fit-content;")
                      .card-body 
                        //if cartExists
                        .col-sm-12
                          .row#cartsidepreview
                            if(cartexists)
                              each p in cart        
                                row
                                  .card(style= "border: none; border-top: 1px solid #eee; padding: 10px;")
                                    .row
                                      .col-md-3.card-text
                                        #inc-button(style='border:1px solid #eee; border-radius: 10%; padding:2px')
                                          | +
                                        .div
                                          | 1
                                        #dec-button(style='border:1px solid #eee; border-radius: 10%; padding:2px')
                                          | -
                                      .col-md-6.card-text
                                        img(src='/uploads/product/thumbs/'+p.photo, style="width: 66px; height: 66px; margin-right: 4px; padding-top:4px")
                                      .col-md-3
                                        i.findit-blue(class="fas fa-close fa-1x")
                                    .row
                                      .col-md-12.card-text 
                                        small.text-left
                                          =p.name    
                                        span.findit-blue
                                          small.text-right
                                            |   KES    
                                            span
                                              =p.price 

                  button.btn-btn-primary(style="margin-top:400px; z-index=100000")
                    | View Full Busket
    
    script(type='text/javascript').
      $(function() {
        $("#history-back").on("click", window.history.back);
      });      
          
                         
  
      
              
               
