extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      .card-single-product
        if product
          .row
            aside.col-sm-1
              article.gallery-wrap
                div.img-small-wrap
                  div.item-gallery
                    img.img-small-wrap(src="../images/oven.jpeg")
                  div.item-gallery
                    img.img-small-wrap(src="../images/oven1.jpeg")
                  div.item-gallery
                    img.img-small-wrap(src="../images/oven2.jpeg")
                  div.item-gallery
                    img.img-small-wrap(src="../images/oven3.jpeg")
            aside.col-sm-5.border-right 
              article.gallery-wrap 
                div.img-big-wrap
                  div
                    a(href="#")
                      img.img-big-wrap(src='/uploads/product/'+product.photo)
                
            aside.col-sm-6
              article.card-body.p-5
                h3.title.mb-3
                  =product.name
                p.price-detail-wrap
                  span.price.h3.text-warning
                    span.currency Ksh.
                    span.num
                     =product.price
                  span /per kg
                dl.item-property
                  dt Description
                  dd
                    p 
                     =product.description
                dl.param.param-feature
                  dt Model#
                  dd 12345611
                dl.param.param-feature
                  dt Color
                  dd Black and white
                dl.param.param-feature
                  dt Delivery
                  dd Russia, USA, and Europe
                hr
                row
                  .col-sm-5
                    dl.param.param-inline
                      dt Quantity:
                      dd
                        select.form-control.form-control-sm(style="width:70px;")
                          option 1
                          option 2
                          option 3
                  .col-sm-7
                    dl.param.param-inline
                      dt Size:
                      dd
                        label.form-check.form-check-inline
                          input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                          span.form-check-label SM
                        label.form-check.form-check-inline
                          input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                          span.form-check-label MD 
                        label.form-check.form-check-inline
                          input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                          span.form-check-label XXL 
                hr
                a(href="#")
                .btn.btn-lg.btn-outline-primary.text-uppercase
                  i.fas.fa-shopping-cart Add to cart     
                          