extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      .card-single-product
         .row
            aside.col-sm-2
              div.img-small-wrap
                div.item-gallery
                  img(src="https://s9.postimg.org/tupxkvfj3/image.jpg")
                div.item-gallery
                  img(src="https://s9.postimg.org/tupxkvfj3/image.jpg")
                div.item-gallery
                  img(src="https://s9.postimg.org/tupxkvfj3/image.jpg")
                div.item-gallery
                  img(src="https://s9.postimg.org/tupxkvfj3/image.jpg")
            aside.col-sm-4.border-right 
              article.gallery-wrap 
                .img-big-wrap
                  div
                    a(href="#")
                      img(src="https://s9.postimg.org/tupxkvfj3/image.jpg")
            aside.col-sm-6
              article.card-body.p-5
                h3.title.mb-3
                  | Original Version of Some product name
                p.price-detail-wrap
                  span.price.h3.text-warning
                    span.currency Ksh.
                    span.num 798
                  span /per kg
                dl.item-property
                  dt Description
                  dd
                    p Here goes description consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco
                dl.param.param-feature
                  dt Model#
                  dd 12345611
                dl.param.param-feature
                  dt Color
                  dd Black and white
                dl.param.param-feature
                  dt Delivery
                  dd Russia, USA, and Europe
                hr
                row
                  .col-sm-5
                    dl.param.param-inline
                      dt Quantity:
                      dd
                        select.form-control.form-control-sm(style="width:70px;")
                          option 1
                          option 2
                          option 3
                  .col-sm-7
                    dl.param.param-inline
                      dt Size:
                      dd
                        label.form-check.form-check-inline
                          input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                          span.form-check-label SM
                        label.form-check.form-check-inline
                          input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                          span.form-check-label MD 
                        label.form-check.form-check-inline
                          input.form-check-input(type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2")
                          span.form-check-label XXL 
                hr
                a(href="#")
                .btn.btn-lg.btn-outline-primary.text-uppercase
                  i.fas.fa-shopping-cart Add to cart     
                          