extends ../layout-new

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container-fluid.container-margin-top.container-fluidpadding
      section
        .row
          .col-md-12
            nav.text-right
              a(href='/product/cart')
                #cart.row
                  .card.card-cart
                    .card-body.card-card-body
                      .card-title.card-cart-title
                        i.fa.fa-shopping-basket
                      if cart
                        card-text
                          small.strong
                            | Items (
                            span#cartcount
                              |   #{ cart.length})
          each product in products
            .col-md-3
              .col-md-12(id=product.slug,class="productid")
                figure.card.card-product
                  a(href="/product/"+product.slug)
                    .img-wrap
                      img(src='/uploads/product/thumbs/'+product.photo)
                  figcaption.info-wrap
                    h6.title.text-dots
                      =product.name       
                    div.action-wrap
                      .price-wrap 
                        .price-new
                          .findit-red
                            | KES #{product.price}  
                      button.btn.btn-outline-primary.w3ls-btn.findit-blue.addtocart(id=product.slug)
                        | Add to Cart
                          
  script(type='text/javascript').
    $(function(){
      var count = 0;
      
      //alert("cart count: "+count );
      $(document).on('click', '.addtocart', function(event) {
        //console.log(event.target.id);
        
        $.ajax({
            type: "GET",
            url: "/product/api/"+event.target.id,
            success: function(res){
              console.log(res);
              $('#cartcount').text(res+')');
            }
        });
      });
    })
