extends ../admin/admin-layout

block content
  // /.row
  // ==============================================================
  // Different data widgets
  // ==============================================================
  // .row
  .row
    .col-md-12.col-lg-12.col-sm-12      
      .white-box
        h3.box-title 
        each product in products
          .row
            .col-md-3(id=product.slug,class="productid")
              figure.card.card-product
                a(href="/product/"+product.slug)
                  .img-wrap
                    img(src='/uploads/product/thumbs/'+product.photo)
            .col-md-3
              figcaption.info-wrap
                a(href="/product/"+product.slug)
                  h6.title.text-dots
                    =product.name
            .col-md-2      
              div.action-wrap
                .price-wrap 
                  .price-new
                    .findit-red
                      | KES #{product.price}
            .col-md-2
              | Featured (#{product.featured})
              | Top Deals (#{product.topdeals})
            .col-md-2
              a(href="/product/edit/"+product.bizid+"/"+product.id,title='Edit Product')
                i.fa.fa-edit(aria-hidden="true",class='col-md-1')
              a(href="/product/feature_product/"+product.bizid+"/"+product.id,title='Feature this Product')
                i.fa.fa-bullhorn(aria-hidden="true",class='col-md-1')
              a(href="/product/topdeal_product/"+product.bizid+"/"+product.id,title='Make Top Deal')
                i.fa.fa-bell(aria-hidden="true",class='col-md-1')
              a(href="/product/delete/"+product.id,title='Delete Product')
                i.fa.fa-trash(aria-hidden="true",class='col-md-1')
