extends ../layout-new
block content
  div.container-fluid(style="margin-top:4rem")
    div#ad.banner-ad
      div.row.justify-content-end.my-row
        div.col-md-8.col-sm-8.col-xm-8.my-col.text-right
          .container-ad
            .arrow
                .outer
                .inner
            .message-body
                a(href="advertising/2" style='color:#fff')
                    p
                    | Advertize on our homepage banner and 
                    br
                    | reach more than 2000+ daily users
                    br
                    | at only Ksh.500 per day
                    br
                    a(href="advertising/2" style='color:#fff')
                        strong
                        | GET STARTED
    div#ad1.banner-ad1
        .container-ad1
            .arrow
                .outer
                .inner
            .message-body
                a(href="advertising/2" style='color:#fff')
                    p
                    | Advertise here 
                    br
                    | and get noticed by our 2000+ daily users
                    br
                    | at only Ksh.200 per day
                    br
                    a(href="advertising/2" style='color:#fff')
                        strong
                        | GET STARTED 
      
