extends ../layout-new

block content
  #home.baner-content-listing-biz
    .container.container-margin-top
      h3.h-order-category.text-center.findit-blue
        | Kindly Input The Name and Phone Number of This Agent
      form(method='post', action='/admin/agent/create')
        .form-group
          input.form-control(name='name',type='text',placeholder="Full Name") 
        .form-group
          input.form-control(name='phone',type='text',placeholder="phone") 
        .form-group     
          button.btn.btn-danger.form-control(type='submit')
            | Create