extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .info-data-wrap
        .info-title
          h3 Privacy Policy
        .info-data
          .info-item
              p
                strong Privacy Policy 
              p
                | FindIt values your privacy and has created this privacy statement in order to better protect it and to demonstrate our firm commitment to its protection. We provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our home page and at every point where personally identifiable information may be requested
              p
                strong Acceptance Privacy Policy Terms
              p
                | Please note that our privacy policy applies to the “http://www.findit.ke/” Website including all subpages only and any other FindIt mobile applications. Your usage of this Website or any FindIt mobile applications constitutes acceptance of this privacy policy and any modifications made to them and further by using the site or apllications, you agree to the collection and use of information in accordance with this policy. Please note that using third party log in details (such as your Facebook or Google account) may impact the usage of your private data according to the terms and conditions and private policy terms of these third parties. FindIt has no influence on any such usage of your private data resulting therefrom and does not take any liability on behalf of such third parties for the proper use of your personal data whatsoever.
              p
                strong Application of Privacy Policy
              p
                | This Policy applies only to the information collected by FindIt from the users of our Website (
                a(href='http://www.FindIt.com') http://www.FindIt.com
                | ) including its subpages and our FindIts mobile applications only. It does not apply to information collected by us in any other way or channel, for example via phone, personal interaction, email, or including offline. It does not apply to the information collected by any other third parties, such as Facebook or Google, or any other party which is not in under control of FindIt.
              p
                strong Information Collection and Use
              p
                | While using our website and mobile application, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally, identifiable information may include, but is not limited to your name, e-mail address, gender, birthday, phone number, address, product preference information, as well as other similar personal information that is needed to register or subscribe you to services or offers. On occasion, we may ask for additional information to enable us to provide you with access to and use of certain information, materials and services.
              p
                strong  
              p
                strong How We Use Personal Information
              p
                | By using our website and mobile application, you agree to FindIt sharing your personal information with our employees, partners, agents and other external third parties, including but not limited to financial institutions and insurance companies accredited by FindIt.
              p
                | FindIt will select any such partners, agents, and external parties with reasonable care but cannot supervise and monitor how your personal information is stored and used outside our organization and shall therefore not be liable for any particular use of your personal data by any of the partners, agents and external parties.
              p
                | We use your Personal Information to enable us to enhance your site visit and mobile application usage, to assist you with customer service or technical support issues, to follow up with you after your visit, or to otherwise support your customer relationship with us.
              p
                | FindIt uses your personal information for specific purposes. The personal information you provide to us when using our Website or mobile application, such as your name, birthdate, gender, postal or e-mail address or telephone number will be handled with reasonable care in accordance with this privacy policy and will be used for customer support and to notify you of special offers, updated information and new products and services from FindIt. FindIt or any of our agents, partners or other external parties may also use your personal data to understand your needs and may contact you in order to offer you the promotional materials, products or services that may be of interest to you. For the avoidance of doubt, FindIt may receive a compensation from any such agents, partners or external parties in sharing any of your personal data for the purposes described above.
              p
                | FindIt may enhance or merge your personal information collected at its Website or mobile application with data from third parties for purposes of marketing products or services to you.
              p
                | Circumstances may arise where we are required to disclose your personal information to third parties for purposes other than to support your customer relationship with us, such as in connection with a corporate divestiture or dissolution where we sell all or a portion of our business or assets (including our associated customer lists containing your personal information),or if disclosure is permitted or required by law (for example, in connection with judicial proceedings or governmental investigations).
              p
                strong Log Data   
              p
                | Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
              p
                strong Cookies 
              p
                | Cookies are files with small amount of data, which may include an anonymous unique identifier.  Cookies are sent to your browser from a website and stored on your computer's hard drive.
              p
                | Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
              p
                strong Security   
              p
                | The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable and reasonable means to protect your Personal Information, we cannot take any liability whatsoever regarding its security.
              p 
                strong Changes to This Privacy Policy    
              p
                | This Privacy Policy is effective as of (18
                sup th
                |  January 2017) and will remain in effect except with respect to any  changes in its provisions in the future, which will be in effect immediately after being posted on this  page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.  If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
              p
                strong Disclaimer
              p
                | The information on the website and mobile application is provided by FindIt. While we endeavor to keep the information up to date and correct, we make no representations or warranties whether express or implied, about the completeness, accuracy or reliability, with respect to the website and mobile application or the information, products and services contained on them for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
              p
                | Access of FindIt website or mobile application is solely at user's own discretion and risk and that user will be solely responsible for any damage resulting from any transaction.
              p
                | FindIt will not be liable for any loss or damage arising from loss of data or profits arising out of, or in connection with, the use of the website or mobile application, including but not limited to any loss or damage arising from any sale or purchase, service or other transaction that you may enter into with a dealer, private individuals, external product and service provider, bank, insurances, agent or partner. Through the website or the mobile application, you are able to link to other websites which are not under the control of FindIt. We have no control over the nature, content and availability of those sites and will therefore not be liable to any loss or damage caused by reliance of content of these links or usage of any of your data provided.
              p
                | Every effort is made to keep the website and mobile application up and running smoothly. However, FindIt takes no responsibility for, and will not be liable for the website or mobile application being temporarily unavailable due to any technical issues whatsoever.
              p
                strong Warranty disclaimer
              p
                | FindIt shall not be liable whatsoever for any content provided by its users, including any fraudulent or illegal content. It shall also not be liable in any cases where errors are found in the content presented on the website or for the information provided being accurate, complete, suitable or reliable for any purpose.