extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .info-data-wrap
        .info-title
          h3 Terms and Conditions
        .info-data
          .info-item
              p
                | By accessing or using our FindIt website, or any applications made available by FindIt, you agree to be bound by all the terms of use regarding all the services owned or controlled by FindIt. These terms of use affect your legal rights and obligations. If you do not agree to be bound by all of these terms of use, do not access or use the service.
              p
                | You are responsible for protecting your own passwords and access of the site by third parties from your personal gadgets.
              p
                | FindIt reserves the right to modify the terms of use at any time and without prior notice to its Users. We may add to, change, delete or end our or your use of our service at any time at our full discretion. The service may be temporarily unavailable from time to time for maintenance or other reasons at the full discretion of FindIt. Users’ access to this service is conditional to their acceptance and compliance to these terms and conditions. These terms and conditions are applicable to all visitors and users who access this service. Users who may disagree with these terms and conditions may not access this service.
              p
                | FindIt is not associated with, nor does it endorse, any external sites to which it links except as explicitly noted within our website  
              p
                strong Liability of Users posting content
              p
               | By posting any services, products or any other information or personal data on our website or mobile application, each user hereby undertakes to be fully personally liable for the accuracy, validity and legality of any such content and declares under these terms of use that no fraudulent or illegal information, pictures, videos, services or any other such content or activities will be uploaded, offered, provided, rendered, facilitated or implied through the use of our website or any of FindIt’s applications. 
              p
                strong Intellectual Property
              p
                | The site and its original content, features, and functionality are owned by FindIt.
              p
                strong Termination  
              p
                | Users access to this service may be terminated or temporarily banned upon findings of abusive actions, for example, spamming customers or posting defamatory or harmful content, or breach of any other terms by the user without any liability.
              p
               | If a user no longer wishes to have anything to do with the site, he or she may delete his or her account to terminate access to the site and/or uninstall FindIt applications from their gadgets.
              p
               strong Governing law
              p
               | These terms and conditions are governed by the Laws of Kenya and the Kenyan courts shall have exclusive jurisdiction in any dispute.
              p
               strong Third party links
              p
               | Through this website and FindIt mobile applications, you are able to link to other websites which are not under the control of FindIt. We have no control over the nature, content and availability of those sites and mobile applications. We shall not assume any responsibility or liability upon loss or damage to users caused by reliance on third party links content either directly or indirectly. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. Users are responsible for reading, agreeing to the terms and conditions of these links.
              p
               strong Dispute resolution
              p
               | Upon occurrence of disputes arising between the parties, the dispute will be resolved by way of an independent arbitrator based in Kenya which will be mutually selected by both parties. Only once such an arbitration is not successful such case shall go before the courts within the Republic of Kenya.
              p
               strong Fees
              p
                | FindIt may add or delete fees associated with its Service. If any charge is applicable, we will notify our Users in advance. Users are responsible for all applicable taxes and for all costs that are incurred in acquiring goods or services from FindIt. For the avoidance of doubt, FindIt may agree and receive fees or any other form of compensation from its partners, agents and external third parties for the services provided, such as but not limited to for providing the infrastructure to offer and sell their products and services, for sending product or service requests by our users to such partners, agents or external parties in order to make a product offering, for providing any other personal user data for sales or marketing of products or services by such partners, agents or external partners in order to offer suitable services or products to our users, or for any other form of services offered, provided or rendered by FindIt to our users, partners, agents or external third parties. 
              p
                strong End-User License Agreement
              p
                strong Licensing
              p
                | FindIt grants you a revocable, non-exclusive and non-transferable use of the site solely for your personal purposes strictly in accordance with the terms of the agreement.
              p
                strong Restrictions of use
              p
                | A user of the site should not permit others to license sell assign lease or license or commercially exploit the content of the site to third parties. One should not disassemble, reverse or in any way use the content or information provided in the site for their own personal use to gain profits or engage in any activity that directly or indirectly raises a competitive or substituting the services of FindIt.
              p
                strong Modifications of site and mobile application content
              p
                | FindIt reserves the right to modify, suspend or discontinue, temporarily or permanently, any service to which it provides with or without liability to the user. 
              p
                strong Termination of licensing
              p
                | FindIt 
                em
                  | may on its sole and absolute discretion, at any time and for any or no reason, suspend or terminate this License and the rights afforded
                |  in the event of violations of use or other issues.
                br
                strong Limitation of liability
              p
                | FindIt will not be held liable for any loss or damage arising from access of the website or mobile  applications even if the loss or damage was caused by accessing them or by accessing third party links.
              p
                strong Contact Us   
              p
                | If you have any questions about this Privacy Policy, please contact us online or at http://www.FindIt.com.
              p