extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .cart.pull-right
        span.label.label-primary(style="padding:20px")
          span.badge#cartno
          i(class="fa fa-cart-plus fa-2x" aria-hidden="true")
      .row
        each coupon, i in coupons
          .col-md-4.coupon(id=coupon.id,class=(coupon.users.some(function(x) { return x.user_id == user.id })) ? 'couponclicked' : '')
                
            h3(style='color: #08b4df;')
              = coupon.name
            h5
              strong
                =coupon.bizid.name
              img.img-responsive(src="/uploads/thumbs/cover"+ coupon.bizid.photo,width="80%") 
            .row
              .col-md-10
                p
                  =coupon.description
              .col-md-2
                if(coupon.users.some(function(x) { return x.user_id == user.id }))
                  i(class="fa fa-window-close fa-2x" aria-hidden="true")
                else
                  i(class="fa fa-plus-square fa-2x" aria-hidden="true")
            .row
              a(class = (coupon.type == '1') ? 'starburst5' : 'starburst7')
                span
                  span 
                    span
                      span
                        span
                          span
                            span
                              br
                              =coupon.tagline
    script(type='text/javascript').
      $(document).ready(function() {
        var cartCount = 0;
        $('.coupon').click(function(event){
          var couponid = $(this).attr("id");
          $(this).addClass('couponclicked');

          $.ajax({
              type: "GET",
              url: "/getcoupon/user/"+couponid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Obtained'){
                    cartCount = cartCount + 1;
                    if(cartCount > 0){
                      $('#cartno').text(cartCount + ' Coupons');
                    }
                  }
              }
          });


        });
      });
