extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .cart.pull-right.row
        span.label.label-warning(style="padding:20px")
          a(href='/admin/mycoupons')
            span.badge#cartno
            i(class="fa fa-cart-plus fa-2x" aria-hidden="true")
            |  My Coupons
      .row(style='margin:40px')
        each coupon, i in coupons
          .col-md-4.coupon(id=coupon.id,class=(coupon.users.some(function(x) { return x.user_id == user.id })) ? 'couponclicked' : 'couponadd', rel=user.id)
                
            .row
              .col-md-8
                h3(style='color: #08b4df;')
                  = coupon.bizid.name
              .col-md-4
                if(coupon.bizid.photo)
                  img.img-responsive(src="/uploads/thumbs/cover"+ coupon.bizid.photo,height="50%") 
            h5
              strong
                =coupon.name
            .row
              .col-md-12
                p
                  =coupon.description
              .col-md-12
                if(coupon.users.some(function(x) { return x.user_id == user.id }))
                  i(class="fa fa-window-close fa-2x" aria-hidden="true")
                  |  Remove Coupon
                else
                  i(class="fa fa-plus-square fa-2x" aria-hidden="true")
                  |  Add Coupon
            .row(style='height:100px')
              a(class = (coupon.type == '1') ? 'starburst5' : 'starburst7')
                span
                  span 
                    span
                      span
                        span
                          span
                            span
                              br
                              =coupon.tagline
    script(type='text/javascript').
      $(document).ready(function() {
        var cartCount = 0;
        $(document).on('click', ".couponadd", function(event) {
          var couponid = $(this).attr("id");
          $(this).addClass('couponclicked');
          $(this).removeClass('couponadd');
          $.ajax({
              type: "GET",
              url: "/getcoupon/user/"+couponid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Obtained'){
                    cartCount = cartCount + 1;
                    if(cartCount >= 0){
                      $('#cartno').text(cartCount + '');
                    }
                  }
              }
          });
        });
        $(document).on('click', ".couponclicked", function(event) {
          $(this).removeClass('couponclicked');
          $(this).addClass('couponadd');
          var userid = $(this).attr("rel");
          $.ajax({
              type: "GET",
              url: "/removecoupon/"+ userid,
              success: function(data){
                  Notify.toast(data.msg, {
                    fn: function () {
                      // custom function here
                    }
                  });
                  if(data.msg == 'Coupon Removed'){
                    cartCount = cartCount - 1;
                    if(cartCount >= 0){
                      $('#cartno').text(cartCount + '');
                    }
                  }
              }
          });
        });
      });
